/StudentRegister/bin
/StudentRegister/obj
/MyDataLayer/bin
/MyDataLayer/obj
StudentRegister/*.csproj.user
.vs/
.git/
/SSDT/Security
/SSDT/Import Schema Logs
/SSDT/obj/Debug
/SSDT/bin
/SSDT/obj
/SSDT/SSDT.sqlproj.user
/SSDT/SSDT.dbmdl
/SSDT/SSDT.jfm
/StudentRegister/Web.Debug.config
/StudentRegister/Web.Release.config
/StudentRegister/Properties/PublishProfiles
/StudentRegister/Web.config